@font-face {
  font-family: "RobotoMono";
  src: url("./assets/fonts/RobotoMono.ttf") format("true-type");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "RobotoMono", monospace;
}

input,
textarea {
  font-family: "RobotoMono", monospace;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
}

span {
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  overflow: hidden;
  background-color: rgb(28, 28, 28);
}

.panning-cursor {
  cursor: grabbing;
}

.move-cursor {
  cursor: move;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
