* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: rgb(28, 28, 28);
  /*   background-size: 40px 40px;
  background-image: radial-gradient(circle, #bbbbbb 1px, rgba(0, 0, 0, 0) 1px);
  background-color: rgb(28, 28, 28); */
}

.panning-cursor {
  cursor: grabbing;
}

.move-cursor {
  cursor: move;
}
